<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <br>
    <h4> Reach out to us at - </h4>
    <br>
    <p>Email - mail.rainbox@gmail.com</p>
    <p>Ph no. - 9531811281</p>
<%- include("partials/footer"); -%>
