<%- include("partials/header"); -%>

<h1>Posted!</h1>
<p>You have successfully composed and published your blog.</p>
<br>
<form action="/" method="post">
    <button type="submit" name="go-home" class="btn btn-primary">Take me to Home page</button>
</form>


<%- include("partials/footer"); -%>